@charset "utf-8";

.text-break-all {
    word-break: break-all!important;
    overflow-wrap: break-word!important;
}
/* nav */
/* .navbar .nav-item i,#article-content i,#article-sidebar i {
    vertical-align: 2px;
} */

/* login */
.login-dropdown {
    width: 300px;
}

/* banner */
#banner-box .new-article {
    height: 165px;
}
#banner-box .new-article .card {
    height: 100%;
    overflow: hidden;
}
#banner-box .new-article .article-read {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}
#banner-box .card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#banner-box .card-img-overlay {
   background-image: linear-gradient(to top,rgba(0,0,0,.2) 10%,transparent 100%);
}
#banner-box .right-carousel {
    height: 350px;
    overflow: hidden;
}
#banner-box .right-carousel .img-fluid{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 首页文章 */
#article-content .article-thum {
    height: 220px; 
    position: relative;
}
#article-content .article-thum > img {
    height: 100%;
    object-fit: cover;
}
#article-content .article-thum .article-tags {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}
.article-archive li {
    border-bottom: 1px dashed rgba(0,0,0,.1);
}

/* 回复可见 */
.reply2view {
    position:relative
}

/* 目录树 */
#directory-tree .list-group a {
    transition: all .3s;
}

/* comments */
.comment-list {
   padding-left: 0;
}
.comments-form {
    position: relative;
}
#cancel-reply {
    position: absolute;
    top: 0;
    right: 10px;
    margin-top: -35px;
}

/* 表情 */
#comment-expression-box {
    position: absolute;
    max-width: 365px;
    margin-top: -360px;
    visibility: hidden;
    clip: rect(0,0,0,0);
    z-index: 1;
}
#comment-expression-box .tab-content a {
    cursor: pointer;
    white-space: nowrap;
    transition: background-color .3s;
}
#comment-expression-box .tab-content a:hover {
    background-color: rgba(0,0,0,.1);
}
#comment-expression-box .tab-pane {
    height: 250px;
}


/* 文章版权说明 */
.article-copy-info {
    font-size: 1rem;
}

/* 分享 */
#share li img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid rgba(0,0,0,.1);
}


@media (max-width: 576px) {
    #banner-box .right-carousel {
        height: 250px;
    }
}
@media (max-width: 420px) {
    #banner-box .right-carousel {
        height: 200px;
    }
    .login-dropdown {
        width: 250px;
    }
}
@media (max-width: 320px) {
.login-dropdown {
        width: 200px;
    }
}